<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.export.mapper.OrderTableMapper">

    <resultMap id="BaseResultMap" type="com.example.export.domain.OrderTable">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="orderDate" column="order_date" jdbcType="TIMESTAMP"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,order_date,
        total_amount,status
    </sql>
</mapper>
